<div id="p-recipes">
<h1 id="p-recipes-heading">Public Recipes</h1>
<hr>

<% if @recipes.empty? %>
    <div>
        <h2 class="text-center">No Public Recipes yet.</h2>
    </div>
<% else %>

    <% @recipes.each_with_index do |recipe, index| %>
        <div class="p-recipe">
        <div class="p-recipe-main-info">
            <div class="p-recipe-name">
                <h2><%= recipe.name %></h2>
            </div>

            <div>
          <h4>By: <%= recipe.user.name %></h4>
        </div>

        <div class="p-recipes-action">
          <button class="btn btn-primary">
          <%= link_to "Show Details", recipe_path(recipe), class: "button" %>
          </button>
        

        <% if @user.id == recipe.user_id %>
          
          <button class="button">
          <%= link_to "Delete", recipe_path(recipe), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "delete-danger" %>
          </button>
          
        <% end %>
        </div>

        </div>
            <div class="p-recipe-description">
                <div>
                <p>Total food items: <b><%= recipe.recipe_foods.count %></b></p>
                </div>

                <div>
                <p>Total price: <b>$<%= recipe.recipe_foods.total_price(recipe.id) %></b></p>
                </div>
                
            </div>
        </div>
    <% end %>
<% end %>
</div>