<h1>Public Recipes</h1>

<div class="mt-4">
  <% @recipes.each do |recipe| %>
    <div class="card mt-4">
      <div class="card-body">
        <h5 class="card-title"><%= recipe.name %></h5>

        <p class="card-text"><strong>Total price:</strong> <%= recipe.foods.sum(:price) %></p>
        <p class="card-text"><strong>Total food items:</strong> <%= recipe.foods.length %></p>
        <p class="card-text"><strong>By:</strong> <%= recipe.user.name %></p>
        <div class="d-flex justify-content-around">
          <%= button_to "Remove", recipe, method: :delete, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: 'btn btn-danger' if recipe.user == current_user %>
          <%= link_to "Show this recipe", recipe, class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
  <% end %>
</div>
