<div class="show-recipes mt-4">
  <h2 class="recipe-name"><%= @recipe.name %></h2>
  <div class="recipe-details">
    <div class="row mb-3">
      <div class="col-md-6">
        <p><b>Preparation Time:</b> <%= @recipe.preparation_time %> hours</p>
        <p><b>Cooking Time:</b> <%= @recipe.cooking_time %> hours</p>
        <p><b>Description:</b> <%= @recipe.description %></p>
      </div>
      <div class="col-md-6">
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" role="switch" id="flexSwitch">
          <label class="form-check-label" for="flexSwitch">Public</label>
        </div>
        <div class="shopping-list mt-3">
          <button data-toggle="modal" onclick="showModal()" data-target="#inventory" class="btn btn-primary">Create Shopping List</button>
          <%= link_to "Add ingredient", new_recipe_recipe_food_path(@recipe), class: 'btn btn-success ms-2' %>
        </div>
      </div>
    </div>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Food</th>
          <th scope="col">Quantity</th>
          <th scope="col">Value</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% if @recipe_foods.present? %>
          <% @recipe_foods.each do |recipe_food| %>
            <tr>
              <td><%= recipe_food.food.name %></td>
              <td><%= recipe_food.quantity %> <%= recipe_food.food.measurement_unit %></td>
              <td>$<%= recipe_food.quantity * recipe_food.food.price %></td>
              <td class="d-flex">
                <%= link_to "Modify", edit_recipe_recipe_food_path(recipe_food.recipe, recipe_food), class: 'btn btn-warning btn-sm me-2' %>
                <%= button_to "Remove", recipe_recipe_food_path(recipe_food.recipe.id, recipe_food), method: :delete, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: 'btn btn-danger btn-sm' %>
              </td>
            </tr>
          <% end %>
        <% else %>
          <tr>
            <td colspan="4" class="text-center">No ingredients yet</td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%# Render link/button outside the table if applicable %>
    <div class="row">
      <div class="col-md-6">
        <% if @user == @recipe.user %>
          <div> <!-- Or any suitable class to center-align the content -->
            <%= link_to "Add New Food", new_food_path(@recipe), class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>

      <div class="col-md-6">
        <div class="d-flex justify-content-end">
          <%= link_to "Back to recipes", recipes_path, class: 'btn btn-secondary me-2' %>
          <%= button_to "Destroy this recipe", @recipe, method: :delete, class: 'btn btn-danger' %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render partial: 'modal', locals: {recipe: @recipe} %>

<script>
  function showModal() {
    const modal = document.getElementById('modal');
    modal.classList.add('show');
  }
</script>
