<p style="color: green"><%= notice %></p>

<h1>Foods</h1>

<table class="table">
  <thead>
    <tr>
      <th>Food</th>
      <th>Measurement Unit</th>
      <th>Unit Price</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @foods.each do |food| %>
      <tr>
        <td><%= food.name %></td>
        <td><%= food.measurement_unit %></td>
        <td>$<%= number_with_precision(food.price, precision: 2) %></td>
        <td>
        <%= link_to "Remove", food_path(id: food.id), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-danger confirm-button" %>
          <!-- <%= link_to "Show", food %> -->
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "New food", new_food_path %>
