<div class="recipe-food">
  <div class="recipe-food-col">
      <%= form_with(url: recipe_recipe_foods_path(recipe_id: @recipe.id)) do |form| %>

      <%= select("food", "food_id", Food.all.collect { |p| [ p.name, p.id ] }, { prompt: 'Select Food' }, required: true) %>

      <div>
        <%= form.label :quantity %> <br>
        <span>(in grams/units)</span>
        <%= form.number_field :quantity, class: "form-control" , required: true %>
      </div>

      <div>
        <%= form.hidden_field :recipe_id, value: @recipe.id %>
      </div>

      <div>
        <%= form.submit  "Add ingredient", class: 'submit-button'%>
      </div>
    <% end %>
  </div>
</div>

    <%if false %>
  <!--
  <div>
    <%= form.label :recipe_id %>
    <%= form.text_field :recipe_id %>
     <% unless @edit %>
  <%= form.label :food_name %>
  <%= form.text_field :food_name %>
  <% end %>
  </div>

  <div>
    <%= form.label :food_id %>
    <%= form.text_field :food_id %>
     <%= form.label :quantity do %>
    Quantity
   <span>(in grams/units)</span>
   <% end %>
    <%= form.number_field :quantity%>
  </div>

  <div>
    <%= form.label :quantity %>
    <%= form.number_field :quantity %>
  </div>
  -->
  <% end %>
